extends layout.pug 

block number1 
    if  error 
        p Please fill the input
    if  success  
        p Note is added 
    form.form(action="/add" method="POST")
        input.input(type="text" placeholder="Add your tod description here..." name="tod")
        button.btn Add 
        div.todos
        if todos.length 
            each todo in todos 
                p.todo #{ todo.description }
        else 
            p.todo No any todo available   
               