extends layout.pug 

block number1 
    if error 
        p.error Please fill input
    if success  
        p.success Added 
    form.form(action='/add' method='POST')
        input(type="text" placeholder='Add your todo description here..' name='todo')
        button.btn Add 
    div.todos
        if todos.length 
            each todo in todos 
                p.todo #{ todo.description }
        else 
            p.todo No any data available 