*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    max-width: 800px;
    margin: 50px auto;
}
.logo {
    text-align: center;
    font-size: 4rem;
}

.wrapper {
    max-width: 800px;
    margin: 50px auto;
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    display: inline-block;
    padding: 10px;
    font-size: 6rem;
    width: 80%;
    border: 1 px solid #ccc;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 18%;
    border: none;
    background-color: blue;
    color: #ccc;
}
.wrapper {
    max-width: 800px;
    margin: 50px auto;
}
.todos {
    margin-top: 25px;
    border: 1px solid #ccc;
    padding: 10px;

}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted #ccc;

}
.todo:hover {
    background: #eee;
}

.error,
.success {
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}
.error {
    color: red;
    border-color: black;
}
.success {
    color: green;
    border-color: black;
}
.delete {
    text-decoration: none;
    font-size: 1rem;
    background-color: tomato;
    color: #ccc;
    margin-left: 10px;
}
.done,
.undone {
    text-decoration: none;

}
.done {
    text-decoration: line-through;

}

